<h1>Comments</h1>


 
 <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Incident List</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Location</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                 <th>User</th>
                  <th>Location</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </tfoot>
              <tbody>
                {{#each comments}}
                <tr>
                  <td>{{user.firstName}}</td>
                  <td>{{project.title}}</td>
                  <td>{{comment}}</td>
                  <td>{{moment date "LLLL"}}</td>
                 <td> 
                    <form action="/admin/comment/{{_id}}?_method=DELETE" method="post">

                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form></td>
                  
                </tr>
                {{/each}}
               
               
               
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>