<h1>User: {{payload.name}}</h1>

{{!-- {{#each message}}

<div id="snackbar">{{message}}</div>
{{/each}} --}}

<form action="/admin/users/update/{{payload._id}}?_method=PUT" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input  name="name" type="text" class="form-control" id="name" placeholder="Enter Name"  value="{{payload.name}}" >
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input  name="email" type="text" class="form-control" id="email" placeholder="Enter ememail"  value="{{payload.email}}" >
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input  name="phone" type="number" class="form-control" id="phone" placeholder="Enter state"  value="{{payload.phone}}" >
    </div>
  
    
    <div class="form-group">
        <label for="role">Admin Role</label>
        
        <select name="role" id="role" class="form-control">
            {{#select payload.role}}
             <option value="admin">Admin</option>
            <option value="basic">Basic</option>
            
            {{/select}}
        </select>
        
    {{!-- </div>
      <div class="form-check">
        <label for="anonymous" class="form-check-label">
        <input name="anonymous" type="checkbox" {{#if payload.anonymous}} checked="checked"{{/if}} class="form-check-input" id="anonymous">
            Anonymous User
        </label>
    </div> --}}

    


    <button type="submit" class="btn btn-primary">Update Project</button>


</form>
