<h1>Emergenncy List</h1>


 
 <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Security Report List</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Location</th>
                  <th>Time</th>
                  <th>Report</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                 <th>User</th>
                  <th>Location</th>
                  <th>Time & Date</th>
                  <th>Report</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </tfoot>
              <tbody>
                {{#each payload}}
                <tr>
                  <td>{{username}}</td>
                  <td>{{state}}, {{lga}}, {{street}}</td>
                  <td>{{time}}<br>{{date}}</td>
                  <td>{{report}}</td>
                  <td>{{status}}</td>
                   <td><a href="/admin/emergency/edit/{{_id}}" class="btn btn-info">Edit</a></td>
                 <td> 
                    <form action="/admin/emergency/delete/{{_id}}?_method=DELETE" method="post">

                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form></td>
             
                  
                </tr>
                {{/each}}
               
               
               
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>